.div_contenedor{
  background-color: rgb(224, 224, 224);
  height: 100vh;
}

.div_centrado {
  max-width: 100%;
  margin:  auto;
  padding: 5rem;
}

p {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  font-family: monospace !important;
}

h1 {
  padding: 0;
  margin: 1rem;
  font-weight: bold;
  text-align: center;
}
mat-expansion-panel{
  background-color: rgb(182, 182, 182);
}
